<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617005350748-fml7bqd6kt6vplh5f65ton3urd0480h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617005350748-fml7bqd6kt6vplh5f65ton3urd0480h5</string>
	<key>API_KEY</key>
	<string>AIzaSyALypW_bcks4_9whIZ4VpOXVxOp1z8nVZs</string>
	<key>GCM_SENDER_ID</key>
	<string>617005350748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pavel.TrashMap</string>
	<key>PROJECT_ID</key>
	<string>trashmap-83903</string>
	<key>STORAGE_BUCKET</key>
	<string>trashmap-83903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617005350748:ios:5b7ca265f7480e7d2bcb99</string>
</dict>
</plist>